body {
		background-color: #000;
		font-family: courier, monospace;
	}
	#console {
		font-family: courier, monospace;
		color: #fff;
		width:63%;
		margin-left:auto;
		margin-right:auto;
		margin-top:100px;
		font-size:14px;
		min-height: 250px;
	}

	#registration{
		color: #0bc;
		width:750px;
		margin-left:auto;
		margin-right:auto;
		margin-top:50px;
		font-size:14px;
	}

	input.reg
	{
		color: #0bc;
		font-family: courier, monospace;
		background: none;
		border: 1px solid #0bc;
		width: 100%;
		padding: 9px;
		margin: 10px auto;
	}

	.reg:focus{
		outline : none;
		border-color: #fc5130;
	}

	h1{
		color: #0bc;
		font-size: 1.4em;
		text-align: center;
		margin-top: 40px;
	}

	#submit{
		font-family: courier, monospace;
		background: none;
  outline: none;
  border: 1px solid #0bc;
  color: #0bc;
  padding: 10px 75px;
  width: 200px;
  display: block;
  margin: 40px auto;
  cursor: pointer;
	}

	#submit:hover{
		color: #fc5130;		border-color: #fc5130;
	}
	.notif{
		color: #fc5130;
	}
    .notif.error {
        color: red;
    }
    .notif.success {
        color: green;
    }

	#logo{
		  width: 120px;
		  display: block;
		  margin-top: 90px;
		  margin-left: auto;
		  margin-right: auto;
	}

	a {
		color: #0bc;
		text-decoration: none;
	}
	#a {
		color: #fc5130;
	}
	#c {
		color: #0bc;
	}
	#b {
		color: #ff0096;
	}
	.alert{
		color: red;
	}
	.success{
		color: rgb(90, 239, 39);
	}

	#command, .response{
		background: none;
  		border: none; 
  		font-family: courier, monospace;
		color: #fff;
  		outline: none;
  		width: 65%;
	}

	#command:focus, .response:focus{
		outline: none;
	}

	footer{
		margin-top: 65px;
	}

	#logo-footer{
		width: 155px;
	}

	::-webkit-input-placeholder {
   color: 0bc;
}

:-moz-placeholder { /* Firefox 18- */
   color: 0bc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: 0bc;  
}

:-ms-input-placeholder {  
   color: 0bc;  
}

#side{
	position: fixed;
	top: 30px;
	left: 30px;
	width: 12%;
}

#logo-side{
	width: 40px;
}

#side-links{
	list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  margin: 40px 0;
  padding: 0;
  }

  #side-links > li{
  	padding: 5px 0;
  	border-bottom: 1px solid #252525;
  }

.side-link{
	color: #494949;
	text-transform: uppercase;
	font-size: 11pt;
}
.side-link:hover{
	color: #0bc
}
.dir {
    font-weight: bold;
    color: #7D7478;
}
.ls-hint {
    font-style: italic;
    font-size: 85%;
    color: #7D7478;
}

@media handheld, screen and (max-width: 700px)
{
	#side{
		position: relative;
		margin-top: 20px;
		width:63%;
		margin-left:auto;
		margin-right:auto;
		top: 0;
		left: 0;
		}

		#logo-side{
			display: none;
		}

		#side-links{
			text-align : center;
		}

		#console{
			margin-top: 50px;
		}
}

#trump-selection{
	margin-top: 40px;
}


input[type=checkbox] {
	visibility: hidden;
}

.trump-option {
	width: 50px;
	height: 10px;
	background: #333;
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	left: -110px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.trump-option label.knob {
	display: block;
	width: 16px;
	height: 16px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: left .4s ease;
	-moz-transition: left .4s ease;
	-o-transition: left .4s ease;
	-ms-transition: left .4s ease;
	transition: left .4s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.trump-name{
	color: white;
  position: absolute;
  width: 400px;
  top: -3px;
  left: 89px;
  cursor: pointer;
}

.trump-name:hover{
	color: #fc5130;
}


.trump-option input[type=checkbox]:checked + label.knob {
	left: 37px;
	background: #FC5130;
}

.trump-option input[type=checkbox]:checked ~ label.trump-name {
	color: #0bc;
}

footer{
	position: relative;
}
#footer-links{
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0px;
  width: 155px;
}

#footer-links > li{
	float: left;
	padding: 5px 26px;
}

.footer-link{
		font-size: 18pt;
		color: #494949;
}

.footer-link:hover{
	color : #0bc;
}


