body {
		background-color: #000;
		font-family: courier, monospace;
	}
	#console {
		font-family: courier, monospace;
		color: #fff;
		width:750px;
		margin-left:auto;
		margin-right:auto;
		margin-top:100px;
		font-size:14px;
		min-height: 250px;
	}

	#registration{
		color: #0bc;
		width:750px;
		margin-left:auto;
		margin-right:auto;
		margin-top:50px;
		font-size:14px;
	}

	input.reg
	{
		color: #0bc;
		font-family: courier, monospace;
		background: none;
		border: 1px solid #0bc;
		width: 100%;
		padding: 9px;
		margin: 10px auto;
	}

	.reg:focus{
		outline : none;
		border-color: #fc5130;
	}

	h1{
		color: #0bc;
		font-size: 1.4em;
		text-align: center;
		margin-top: 40px;
	}

	#submit{
		font-family: courier, monospace;
		background: none;
  outline: none;
  border: 1px solid #0bc;
  color: #0bc;
  padding: 10px 75px;
  width: 200px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
	}

	#submit:hover{
		color: #fc5130;		border-color: #fc5130;
	}

	#logo{
		  width: 120px;
		  display: block;
		  margin-top: 90px;
		  margin-left: auto;
		  margin-right: auto;
	}

	a {
		color: #0bc;
		text-decoration: none;
	}
	#a {
		color: #fc5130;
	}
	#c {
		color: #0bc;
	}
	#b {
		color: #ff0096;
	}
	.alert{
		color: red;
	}
	.success{
		color: rgb(90, 239, 39);
	}

	#command, .response{
		background: none;
  		border: none; 
  		font-family: courier, monospace;
		color: #fff;
  		outline: none;
  		width: 65%;
	}

	#command:focus, .response:focus{
		outline: none;
	}

	footer{
		margin-top: 65px;
	}

	#logo-footer{
		width: 155px;
	}

	::-webkit-input-placeholder {
   color: 0bc;
}

:-moz-placeholder { /* Firefox 18- */
   color: 0bc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: 0bc;  
}

:-ms-input-placeholder {  
   color: 0bc;  
}